data-model/src/main/resources/META-INF/xsd/Atom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://www.w3.org/2005/Atom"
            xmlns:tns="http://www.w3.org/2005/Atom"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">


    <!--<xsd:element name="links" type="tns:links"/>-->
    <!--<xsd:complexType name="links">-->
    <!--<xsd:sequence>-->
    <!--<xsd:element name="link" type="tns:link" minOccurs="0" maxOccurs="unbounded"/>-->
    <!--</xsd:sequence>-->
    <!--</xsd:complexType>-->

    <!--<xsd:element name="link" type="tns:link"/>-->
    <!--<xsd:complexType name="link">-->
    <!--<xsd:attribute name="rel" type="xsd:string"/>-->
    <!--<xsd:attribute name="href" type="xsd:string"/>-->
    <!--</xsd:complexType>-->

    <xsd:element name="link" type="tns:link"/>
    <xsd:complexType name="link">
        <xsd:attribute name="rel" type="xsd:string"/>
        <xsd:attribute name="href" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>
